.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageLayout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

@media (max-height: 917px) {
  .pageLayout__content {
    padding-bottom: 140px; /* avoid overlap with fixed footer when visible */
  }
}
